<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>ADD A HOST</title>
</head>
<div class="flex-container">
<form method="POST" style="width: 200px">
<a href='/'>Home</a>
    <input type="text" name="hostname" placeholder="Host Name"></br>
    <input type="text" name="email" placeholder="Host Email"></br>
    <input type="text" name="phoneno" placeholder="Host Phone"></br>
    <input type="text" name="Address" placeholder="Host Address"></br>
    <input type="submit" value="Add New Host">
</form>
</div>