<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename = 'clock.js') }}"></script>	
	<title>LANDED</title>
</head>
<div class="landed">
	<div >
		<body onload="startTime()">
			<div id="txt"></div>
		</body>
	Hi {{user}}, your appointment is with {{host}}</br> 
End your appointment here</br>
<a href="{{link_text}}">Click</a>
</select>
</div>
</div>
</html>