<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'clock.js') }}">showtime();</script>
</head>
<div align = "center">
<a href = "{{url_for('host_panel')}}">
<img alt = "Host Panel" src = https://i.ibb.co/3F3ymMF/add-user.png height="50" width="50">
<b>Host Panel</b> </a>
<body onload="startTime()">
<div id="txt"></div>
</body>
</div>
<div class = "flex-container">

<form method="POST" color = "white" style="max-width:50% ">


	<br><h2>Select your HOST:</h2>
<select name= hosts method="POST">
    {% for host in hosts %}
    <option value= "{{host['name']}}">{{host['name']}}</option>"
    {% endfor %}
</select><br>
	<br><h2>Your Name:</h2>
    <input type="text" name="user" placeholder="Your Name"><br><br>
    <h2>Your Email:</h2>
    <input type="text" name="email" placeholder="Your Email"><br><br>
    <input type="submit" name= "submit-button" value="Take Appointment"><br><br>
    <input type="submit" name ="submit-button" value="Take Remote Appointment(Chat)">
</div>
</form>